/* Оформление для страницы с футболом*/

#football_cap{
	background: url(../images/football_cap.jpg) no-repeat;
	height: 70px;
	margin: 0% 0% 7% 0%;
}

#football_cap ul{
	padding-left:20px;
	overflow:hidden;
}

#football_cap ul li{
	float: left;
	font: bold 18px Arial, Verdana;
	color: #FFE401;
	margin-right: 60px;
	margin-top: 35px;
}

#football_cap ul li a{	
	color: #FFE401;
	text-decoration: none;
}
#football_cap ul li span{
	color: #FFE401;
}

#logo_football{
	height: 100px;
	width: 100px;
	float: right;
	margin:0 0 0 0;	
}

.football_block {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  position: relative;
  cursor: pointer;
  right: -28px;
  left: 1px;
  margin: 10px 60px 10px 60px;
  padding: 20px 48px 20px 20px;
  overflow: hidden;
  border: none;
  font: normal 16px/1 "Times New Roman", Times, serif;
  color: rgba(255,255,255,1);
  text-align: center;
  background: #32CD32;
  -webkit-box-shadow: 6px 5px 4px 0 rgba(0,0,0,0.3) ;
  box-shadow: 6px 5px 4px 0 rgba(0,0,0,0.3) ;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
}